.gallery-container {
  background-color: grey;
}

.no-images {
  height: 500px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: lightgray;
}

.text {
  font-family: "adobe-clean", sans-serif;
  font-size: 22px;
}